<div class="footer">
  <div class="w">
      <div class="links">
          <a class="link" href="https://gitee.com" target="_blank">码云</a> |
          <a class="link" href="https://www.baidu.com" target="_blank">百度</a> |
          <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a> |
          <a class="link" href="https://www.zhihu.com" target="_blank">知乎</a>
      </div>
      <p class="copyright">
          Copyright © 2022 happyrmmall.cn All Right Reserved
      </p>
  </div>

  <p style="background:none;height: 5%;position: fixed;bottom: 0px;width: 100%;text-align: center;">
    <a class="banquan" style="color:#000;"href="https://beian.miit.gov.cn/#/Integrated/index"target="_blank">皖ICP备2022000996号-1</a>
  </p>
</div>


<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>